body {
  background-image: url("marble.jpg");
  background-size: cover;
}

#giroGif1 {
  background-image: url("girologo.gif");
  height: 160px;
  width: 230px;
  margin-top: 5%;
}


#results {
  width: 200px;
  height: 60px;
  margin-top: 7.5%;
  font-size: 20px;
  font-family: 'Nokora', sans-serif;
  cursor: pointer;
  background-image: url("pinkgif.webp");
  background-size: cover;
  color: rgb(193, 124, 124); 
  border: transparent;
}

#results:focus {
  transition: transform 5s ease-in-out;
  transform: rotate(90deg);
  transform:matrix(1.00,0.00,0.00,1.00,0,225);
  -ms-transform:matrix(1.00,0.00,0.00,1.00,0,225);
  -webkit-transform:matrix(1.00,0.00,0.00,1.00,0,225);
}

#tryAgain {
  height: 40px;
  width: 200px;
  margin-top: 14%;
  font-size: 17px;
  font-family: 'Nokora', sans-serif;
  cursor: pointer;
  background-image: url("grad-gif.gif");
  border-radius: 12px;
  opacity: 90%;
  color: rgb(73, 73, 73); 
  border: transparent; 
}

#tryAgain:focus {
  transition: transform 2s ease-in-out;
  transform:matrix(-1.63,-0.52,-1.13,1.46,-50,-50);
  -ms-transform:matrix(-1.63,-0.52,-1.13,1.46,-50,-50);
  -webkit-transform:matrix(-1.63,-0.52,-1.13,1.46,-50,-50);
}